@import "../../main.scss";

.gamemodal {
  opacity: 0;
  pointer-events: none;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  width: 70vw;
  height: 65vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: var(--app-mainBackgroundColor);
  border: 2px solid #7a7a7a;
  transition: all 0.2s ease;

  .gamemodal-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--app-subColor);

    h1 {
      font-size: 25px;
      font-weight: 700;
    }

    .x-wrapper {
      padding: 5px;
      height: 20px;
      width: 20px;
      border-radius: 4px;
      background-color: var(--app-subColor);

      img {
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(210deg)
          brightness(95%) contrast(87%);
        cursor: pointer;
        transition: all 0.2s ease;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .gamemodal-inside-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .container-left {
      width: 45%;
      height: 85%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 65%;
        border-radius: 4px;
      }
    }
    .container-right {
      padding: 10px;
      width: 45%;
      height: 85%;
      background-color: var(--app-subColor);
      border-radius: 4px;
      display: flex;
      align-items: center;
      flex-direction: column;

      form {
        color: white;
        
        .MuiInputLabel-formControl {
          color: var(--app-mainTextColor);
        }

        .MuiSelect-select {
          color: var(--app-mainTextColor);
        }

        .MuiOutlinedInput-notchedOutline {
          border-color: var(--app-mainTextColor);
        }

        .MuiSvgIcon-root {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
            saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
        }
      }
    }
  }
}
