@import "../main.scss";

.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--app-subColor);
  z-index: 3;
  height: var(--app-topbarHeight);
  width: 100vw;

  .container {
    width: 85%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        filter: var(--app-logoFilter);
        width: 50px;
        cursor: pointer;
      }
    }

    .links {
      display: flex;
      gap: 50px;

      .link {
        opacity: 50%;
        font-size: 15px;
        font-weight: 500;

        &:hover {
          transition: opacity 0.15s;
          opacity: 100%;
        }
      }
    }

    .profile {
      display: flex;
      gap: 20px;

      .link {
        font-weight: bold;
      }
    }
  }
}
